<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign In - Library Management System</title>

    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <div class="login-container">
      <div class="login-box">
        <h1>Create an Account</h1>
        <div
          th:if="${signInError}"
          class="alert error text-red-500 font-bold rounded-md pb-2"
          th:text="${signInError}"
        ></div>
        <form
          id="signInForm"
          th:action="@{/signin}"
          th:object="${signindto}"
          method="post"
        >
          <div class="form-group">
            <label for="username">Username</label>
            <input
              type="text"
              id="username"
              name="username"
              th:value="*{username}"
              required
            />
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input
              type="email"
              id="email"
              name="email"
              th:value="*{email}"
              required
            />
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input
              type="password"
              id="password"
              name="password"
              th:value="*{password}"
              required
            />
          </div>
          <button type="submit" class="btn btn-primary">Sign In</button>
        </form>
        <p class="text-center mt-4">
          Already have an account?
          <a href="/login">Back to login</a>
        </p>
      </div>
    </div>

    <script src="/app.js"></script>
  </body>
</html>
